@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
  box-sizing: border-box;
}
.navbar
{
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1
{
color: #f1356d;
}
.navbar .links
{
  margin-left: auto;
  display: flex;
  gap: 20px;
}
.navbar a
{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover
{
  color: #f1356d;
}
.content
{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview
{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}
.blog-preview:hover
{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2
{
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}.bubbles-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.bubbles-loader span {
  width: 12px;
  height: 12px;
  background-color: #3498db;
  border-radius: 50%;
  display: inline-block;
  animation: bubble 1.5s infinite ease-in-out;
}

.bubbles-loader span:nth-child(1) {
  animation-delay: 0s;
}

.bubbles-loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.bubbles-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bubble {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
